functions-framework==3.*
cachetools
certifi
cffi
chardet
google-api-core
google-auth
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-monitoring
google-cloud-core
google-crc32c
google-resumable-media
idna
protobuf
pyasn1
pyasn1-modules
pycparser
pytz
requests
rsa
six
urllib3
numpy
